@font-face {
  font-family: Programme;
  src: url(./customFonts/Programme-Regular.ttf);
}

*{
  font-family: Programme !important;
}

body{
  background-color: black;
}

.textArea > p{
    font-size: 1.2rem;
    width: max-content;
    padding-right: 1.6rem;
}

.textArea p::selection, .textArea span::selection {
  background-color: #e1e439d8;
}